#header {
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ddd;
    transition: all 0.3s;
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
    }
    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .top {
            width: 100%;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            color: #333;
            .myName {
                width: 20%;
                cursor: pointer;
                h1 {
                    font-weight: 600;
                }
            }
            .nav {
                width: 80%;
                ul {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    li {
                        width: 15%;
                        text-align: center;
                        cursor: pointer;
                        &:hover {
                            a {
                                color: #fff;
                                text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
                                &::after {
                                    opacity: 1;
                                    height: 105%;
                                    width: 105%;
                                }
                            }
                        }
                        a {
                            display: inline-block;
                            position: relative;
                            font-size: 18px;
                            font-weight: 500;
                            color: #333;
                            padding: 30px 0;
                            transition: all 0.3s; 
                            &::after {
                                content: '';
                                position: absolute;
                                opacity: 0;
                                z-index: -1;
                                bottom: -1px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 100%;
                                height: 3px;
                                background-color: #343434;
                                transition: all 0.3s;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}