#introduce {
    width: 100%;
    .container {
        width: 100%;
        height: 95vh;
        background: #192028;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .myName {
            display: block;
            max-width: 1280px;
            margin: 0 auto;
            svg {
                width: 100%;
                position: relative;
                text {
                    font-size: 120px;
                    font-weight: 600;
                    fill: transparent;
                    stroke-dasharray: 900px;
                    animation: stroke 1s linear;
                    animation-fill-mode: forwards;
                    @keyframes stroke {
                        0% {
                            stroke: #ffc400;
                            stroke-width: 3px;
                            stroke-dashoffset: 900px;
                        }
                        70% {
                            fill: transparent;
                        }
                        98% {
                            stroke: #ffc400;
                            stroke-width: 3px;
                        }
                        100% {
                            fill: #f2f2f2;
                            stroke-dashoffset: 0;
                        }
                    }
                    &:nth-child(1) {
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        animation-delay: 0.5s;
                    }
                    &:nth-child(3) {
                        animation-delay: 1s;
                    }
                    &:nth-child(4) {
                        animation-delay: 1.5s;
                    }
                    &:nth-child(5) {
                        animation-delay: 2s;
                    }
                    &:nth-child(6) {
                        animation-delay: 2.5s;
                    }
                    &:nth-child(7) {
                        animation-delay: 3s;
                    }
                    &:nth-child(8) {
                        animation-delay: 3.5s;
                    }
                    &:nth-child(9) {
                        animation-delay: 4s;
                    }
                    &:nth-child(10) {
                        animation-delay: 4.5s;
                    }
                    &:nth-child(11) {
                        animation-delay: 5s;
                    }
                }
            }
        }
        .myself {
            position: absolute;
            bottom: 25%;
            left: 30%;
            width: 680px;
            text-align: center;
            .typing_box {
                width: 100%;
                span {
                    display: inline-block;
                    color: #eae4e4;
                    font-size: 24px;
                    line-height: 35px;
                    font-weight: 500;
                }
                .split {
                    display: inline-block;
                    color: #eae4e4;
                    font-size: 24px;
                    line-height: 35px;
                    font-weight: 500;
                }
            }
        }
        .button_box {
            width: 250px;
            position: absolute;
            bottom: 50px;
            left: 42%;
            button {
                width: 250px;
                height: 60px;
                padding: 10px 20px;
                border: 1px solid #f4623a;
                border-radius: 30px;
                background: #f4623a;
                font-size: 18px;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background: #ea3a09;
                }
                i {
                    font-size: 21px;
                    font-weight: 500;
                    margin-left: 15px;
                    animation: move 1s;
                    animation-iteration-count: infinite;
                    @keyframes move {
                        0% {
                            transform: translate(0,0);
                        }
                        50% {
                            transform: translate(0,10px);
                        }
                        100% {
                            transform: translate(0,0);
                        }
                    }
                }
            }
        }
    }
}



